@tailwind base;
@tailwind components;
@tailwind utilities;



.button-transitions {
transition:border-radius 0.1s ease, width 0.6s cubic-bezier(.47,1.64,.41,.8);
}

.carousel-container {
    scrollbar-width: none;
}
.carousel-container::-webkit-scrollbar{
    display: none;
  }